body {
    background-color: #c3dec8;
}

h1 {
    font-family: serif;
    color: #444477;
    text-decoration: underline;
}

h2 {
    font-family: serif;
    color: #444477;
}

p {
    font-family: serif;
    color: #d31818;
    font-size: 48px;
}